body {
     display: grid;
     grid-template-areas: "cabeca cabeca cabeca"
     "braco corpo corpo"
     "perna perna perna";
    grid-template-rows: 200px auto 150px;
    grid-template-columns: 200px auto auto;
}
header{
    grid-area: cabeca;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

#header-container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-areas: "logo titulo nada";
}

.header-text {
    grid-area: titulo;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    white-space: nowrap;
}

.logo {
    grid-area: logo;
    height: 200px;
    width: auto;
}

header h1 {
    font-size: xx-large;
    margin-top: 50px;
}

header h2 {
    font-size: x-large;
    margin: 85px;
}


aside{
    grid-area: braco;
    background-color: rgb(174, 229, 255);
}
main{
    grid-area: corpo;
    background-color: rgba(0, 202, 202, 0.945);
}
footer{
    grid-area: perna;
    background-color: rgb(0, 173, 185);
}



.img_card{
    width: 300px;
    height: auto;
}
.texto_card{
    color: rgb(34, 96, 178);
    font-size: x-large;
}
.preco_card{
    color: darkred;
    font-size: xx-large;
}

.mae{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    border-color: darkred 2px solid;
    background-color: rgb(251, 251, 255);
    width: 400px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    margin: 20px;
}

@media only screen and(max-width){
    body{
        grid-area: "cabeca"
                    "corpo"
                    "perna";
        grid-template-columns: auto;   
        grid-template-rows: 150px 50px 500px 200px;         
    }
}

@media only screen and  ( max-width: 800px) {
    body {
        grid-template-areas: "cabeca"
                             "corpo"
                             "perna";
        grid-template-columns: auto;
        grid-template-rows: 200px auto 200px;
    }
    aside {
        display: none;
    }
}